body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 1 auto;
}

.hero_main {
    display: flex;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 15px;
}

.links {
    flex: 0 1 auto;
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    gap: 10px;
}

a {
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none;
}

.hero_second {
    display: flex;
    background-color: #1F2937;
    padding: 50px 20px;
    gap: 20px;
}

.hero_text {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.hero_img {
    flex: 1 1 0;
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading1 {
    flex: 1 1 auto;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 95%;
}

.subtext {
    flex: 1 1 0;
    font-size: 18px;
    color:#E5E7EB;
}

.signup1 {
    color: #f9faf8;
    background-color: rgb(83, 83, 224);
    padding: 5px 25px;
    border-radius: 9px;
}

.information {
    display: flex;
    flex-direction: column;
}

.heading2 {
    text-align: center;
    padding: 20px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information1 {
    display:flex;
    justify-content: center;
}

